body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: whitesmoke;
    font-size: 20px;
}

#profilePhoto {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: relative;
}

#profilePhotoCaption {
    text-align: center;
    font-size: 25px;
    position: absolute;
    left: 220px;
    top: 10%;
    font-size: 45px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Footer */

.row{
    display: flex;
    flex-wrap: wrap;
}

  footer{
    background-color: #353831;
    padding: 70px 0;
  }

  .footerColumn{
     width: 30%;
     padding: 0 8px;
  }

  .footerColumn h6{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }

  .footerColumn h6::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: grey;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }

  .footerColumn a {
    color: white;
  }

  .footerColumn ul li:not(:last-child){
    margin-bottom: 10px;
  }

  .footerColumn ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }

  .footerColumn ul li a:hover{
    color: #9e2b25;
    padding-left: 8px;
  }

  .footerColumn .socials a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }

  .footerColumn .socials a:hover{
    color: #24262b;
    background-color: #ffffff;
  }