body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: whitesmoke;
}

#profilePhoto {
    border-radius: 50%;
}

#profilePhotoCaption {
    text-align: right;
    font-size: 25px;
}